<template>
  <v-container>
    <v-layout>
      <v-flex>
        <v-btn
          color="info"
          flat
          @click="goBack()"
        >
          Go back
        </v-btn>
      </v-flex>
    </v-layout>
    <v-layout>
      <v-flex>

        <v-progress-linear :indeterminate="true" v-if="loading"></v-progress-linear>

        <h1>{{ship.name}}</h1>

        <v-list two-line v-if="ship.length">
          <v-list-tile>
            <v-list-tile-content>
              <v-list-tile-sub-title>Model</v-list-tile-sub-title>
              <v-list-tile-title v-html="ship.model"></v-list-tile-title>
            </v-list-tile-content>
          </v-list-tile>
          <v-divider></v-divider>

          <v-list-tile>
            <v-list-tile-content>
              <v-list-tile-sub-title>Manufacturer</v-list-tile-sub-title>
              <v-list-tile-title v-html="ship.manufacturer"></v-list-tile-title>
            </v-list-tile-content>
          </v-list-tile>
          <v-divider></v-divider>

          <v-list-tile>
            <v-list-tile-content>
              <v-list-tile-sub-title>Cost (in credits)</v-list-tile-sub-title>
              <v-list-tile-title v-html="ship.cost_in_credits"></v-list-tile-title>
            </v-list-tile-content>
          </v-list-tile>
          <v-divider></v-divider>

          <v-list-tile>
            <v-list-tile-content>
              <v-list-tile-sub-title>Length</v-list-tile-sub-title>
              <v-list-tile-title v-html="ship.length"></v-list-tile-title>
            </v-list-tile-content>
          </v-list-tile>
          <v-divider></v-divider>

          <v-list-tile>
            <v-list-tile-content>
              <v-list-tile-sub-title>Max speed in atmosphering</v-list-tile-sub-title>
              <v-list-tile-title v-html="ship.max_atmosphering_speed"></v-list-tile-title>
            </v-list-tile-content>
          </v-list-tile>
          <v-divider></v-divider>

          <v-list-tile>
            <v-list-tile-content>
              <v-list-tile-sub-title>Crew</v-list-tile-sub-title>
              <v-list-tile-title v-html="ship.crew"></v-list-tile-title>
            </v-list-tile-content>
          </v-list-tile>
          <v-divider></v-divider>

          <v-list-tile>
            <v-list-tile-content>
              <v-list-tile-sub-title>Passengers</v-list-tile-sub-title>
              <v-list-tile-title v-html="ship.passengers"></v-list-tile-title>
            </v-list-tile-content>
          </v-list-tile>
          <v-divider></v-divider>

          <v-list-tile>
            <v-list-tile-content>
              <v-list-tile-sub-title>Capacity for cargo</v-list-tile-sub-title>
              <v-list-tile-title v-html="ship.cargo_capacity"></v-list-tile-title>
            </v-list-tile-content>
          </v-list-tile>
          <v-divider></v-divider>

          <v-list-tile>
            <v-list-tile-content>
              <v-list-tile-sub-title>Consumables</v-list-tile-sub-title>
              <v-list-tile-title v-html="ship.consumables"></v-list-tile-title>
            </v-list-tile-content>
          </v-list-tile>
          <v-divider></v-divider>

          <v-list-tile>
            <v-list-tile-content>
              <v-list-tile-sub-title>Hyperdrive rating</v-list-tile-sub-title>
              <v-list-tile-title v-html="ship.hyperdrive_rating"></v-list-tile-title>
            </v-list-tile-content>
          </v-list-tile>
          <v-divider></v-divider>

          <v-list-tile>
            <v-list-tile-content>
              <v-list-tile-sub-title>MGLT</v-list-tile-sub-title>
              <v-list-tile-title v-html="ship.MGLT"></v-list-tile-title>
            </v-list-tile-content>
          </v-list-tile>
          <v-divider></v-divider>

          <v-list-tile>
            <v-list-tile-content>
              <v-list-tile-sub-title>Starship class</v-list-tile-sub-title>
              <v-list-tile-title v-html="ship.starship_class"></v-list-tile-title>
            </v-list-tile-content>
          </v-list-tile>
          <v-divider></v-divider>
        </v-list>
      </v-flex>
    </v-layout>
  </v-container>
</template>


<script>
import fetchHelper from '@/libs/fetchHelper';
import URL from '@/libs/url';

export default {
  name: 'item',
  data() {
    return {
      ship: {},
      loading: true,
    }
  },
  mounted() {
    this.loading = true;
    const shipID = this.$route.params.id;
    fetchHelper(URL.build(URL.base, [shipID]))
    .then(data => {
      this.loading = false;

      this.ship = data;
    })
    .catch(err => {
      alert(err);
    })
  },
  methods: {
    goBack: function() {
      this.$router.back();
    }
  }
}
</script>