<template>
  <v-container>
    <v-layout>
      <v-flex>
        <v-text-field
          label="Search"
          v-model="search"
          solo
          clearable
        ></v-text-field>
      </v-flex>
    </v-layout>
    <v-layout>
      <v-flex>
        <v-progress-linear :indeterminate="true" v-if="loading"></v-progress-linear>
        
        <div v-if="!shipsList.length && !loading" class="ship-list__empty">Nothing to show =(</div>
        
        <v-list two-line v-if="shipsList.length">
          <template v-for="(item, index) in shipsList">
            <router-link :to="item.link" :key="('route_' + index)" class="ship-list__line">
              <v-list-tile
                :key="index"
                avatar
              >
                <v-list-tile-avatar>
                  <img :src="require('../assets/ufo.svg')">
                </v-list-tile-avatar>

                <v-list-tile-content>
                  <v-list-tile-title v-html="item.name"></v-list-tile-title>
                  <v-list-tile-sub-title v-html="(item.model + ' / ' + item.manufacturer)"></v-list-tile-sub-title>
                </v-list-tile-content>
              </v-list-tile>
              <v-divider :key="('devider_' + index)"></v-divider>
            </router-link>
          </template>
        </v-list>
      </v-flex>
    </v-layout>
    <v-layout justify-space-between v-if="(!search && !loading)">
      <v-btn 
        flat
        :disabled="(prevPage === null)"
        @click="goPrev()"
      >
        Previous
      </v-btn>
      <v-btn 
        flat
        :disabled="(nextPage === null)"
        @click="goNext()"
      >
        Next
      </v-btn>
    </v-layout>
  </v-container>
</template>

<script>
  import fetchHelper from '@/libs/fetchHelper';
  import URL from '@/libs/url';

  export default {
    name: 'list',
    data() {
      return {
        prevPage: null,
        nextPage: null,
        ships: [],
        search: '',
        loading: false,
      }
    },
    computed: {
      /** Build list with search filter if it's not empty */
      shipsList: function() {
        /** Set search string in hash for posible link share */
        if(!this.search) {
          return this.ships;
        }
        else {
          return this.ships.filter( ship => {
            return (ship.name.toLowerCase().indexOf(this.search.toLowerCase().trim()) != -1);
          });
        }
      }
    },
    mounted() {
      /** load items */
      this.getPage(this.$route.params.page);

      /** set search filter if it's exist in url */
      this.search = (window.location.hash)?window.location.hash.slice(1):'';
    }, 
    methods: {
      /** Loading data */
      loadShipList: function(API_PATH) {
        /** show preloader */
        this.loading = true;
        this.ships = [];
        /** Fetch data */
        fetchHelper(API_PATH, URL.__default)
        .then(data => {
          /** parse data */
          if(data.next) {
            const nextPageTemp = data.next.split('page=');
            this.nextPage = (nextPageTemp[nextPageTemp.length - 1])?nextPageTemp[nextPageTemp.length - 1]:null;
          }
          else {
            this.nextPage = null;
          }

          if(data.previous) {
            const prevPageTemp = data.previous.split('=');
            this.prevPage = (prevPageTemp[prevPageTemp.length - 1])?prevPageTemp[prevPageTemp.length - 1]:null;
          }
          else {
            this.prevPage = null;
          }

          /** Add link attribute to every ship */
          this.ships = data.results.map( ship => {
            let tmp = ship.url.split('/');
            ship.link = '/ship/' + tmp[tmp.length - 2];
            return ship;
          });

          /** hide preloader */
          this.loading = false;
        })
        .catch(err => {
          alert(err);
        })
      },
      /** Get prev page */
      getPage: function(p) {
        const pageNumber = (p) ? ('?page=' + p) : '';
        /** load items */
        this.loadShipList(URL.build(URL.base) + pageNumber);
      },
      /** go to prev page */
      goPrev: function() {
        this.$router.push('/' + this.prevPage + '/');
      },
      /** go to prev page */
      goNext: function() {
        this.$router.push('/' + this.nextPage + '/');
      }
    },
    watch: {
      '$route': function(from, to) {
        if(from.path != to.path) {
          this.getPage(this.$route.params.page);
        }
      },
      search: function(val) {
        window.location.hash = (val)?val.trim():'';
      }
    },
  }
</script>


<style lang="stylus" scoped>
.ship-list
  &__line
    text-decoration none
  &__empty
    text-align center
    font-size 1.8em
.search-button
  margin 0 !important
  height 48px
</style>