<template>
  <v-app>
    <v-toolbar app>
      <v-toolbar-title class="headline text-uppercase">
        <v-container>
          <v-layout align-center>
            <v-flex mr-2>
              <v-img
                :src="require('./assets/logo.svg')"
                height="24"
                width="24"
              />
            </v-flex>
            <v-flex>Galaxy Ships</v-flex>
          </v-layout>
        </v-container>
      </v-toolbar-title>
    </v-toolbar>

    <v-content>
      <router-view></router-view>
    </v-content>
  </v-app>
</template>

<script>
export default {
  name: 'App',
}
</script>
